@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #4f46e5;
}